/* General Styles Start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* General Styles End */
/* Homepage Start */
header {
	position: relative;
	height: 100vh;
}
.home-right {
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	background: url(../images/home-image.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index: -1;
}
.home-left {
	position: relative;
	height: 100%;
	width: 50%;
}
.home-text {
	position: absolute;
	left: 13%;
}
.home-title {
	text-transform: capitalize;
	color: #1b1c57;
	font-size: 40px;
	line-height: 50px;
	font-weight: 900;
}
.home-title__clip {
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-stroke: 1px;
}

.home-title,
.home-para,
.search-form {
	margin: 2rem 0;
}

.input-group > .input-group-prepend > .btn {
	border-radius: 0 4px 4px 0;
}
/* Homepage End */

/* section booktour start */
.bookTour {
  height: 100vh;
  width: 100%;
  padding: 100px;
}
/* start container sideA */
.hr-line {
  display: flex;
  flex-direction: row;
  color: #f59e0b;
}
.hr-line:before {
  width: 30;
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #f59e0b;
  margin: auto;
}
.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.detail1,
.detail2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
}
.clogo {
  width: 76px;
  height: 76px;
  border-radius: 50px;
}
.sideA h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-transform: capitalize;
  color: #1b1c57;
}
.sideA p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #626687;
  opacity: 0.75;
}
.sideA h4 {
  font-size: 16px;
  line-height: 28px;
  color: #1b1c57;
  opacity: 0.75;
}

/* end of sideA */

/* start container sideB */
.sideB .pic1 {
  position: absolute;
  width: 488px;
  height: 416px;
  left: 828px;
  top: 100px;
  border-radius: 4px;
}
.sideB .pic2 {
  position: absolute;
  width: 296px;
  height: 168px;
  left: 788px;
  top: 400px;
  border-radius: 4px;
}
.sideB .pic3 {
  position: absolute;
  width: 96px;
  height: 80px;
  left: 1096px;
  top: 488px;
  border-radius: 4px;
}
.sideB .pic4 {
  position: absolute;
  width: 96px;
  height: 80px;
  left: 1200px;
  top: 488px;
  border-radius: 4px;
}
.sideB .play {
  position: absolute;
  left: 1050px;
  top: 300px;
  /* background: rgba(255, 255, 255, 0.5); */
  backdrop-filter: blur(5px);
}
.sideB svg {
  position: absolute;
  width: 100px;
  height: 416px;
  left: 1200px;
  top: 0;
  border-radius: 4px;
}
/* end of sideB */
/* booktour End */
